#register-email, #login-email {
    height: 30px;
    width: 210px;
}

#submit-register, #submit-login {
    margin-top: 20px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
  