.root {
    min-height: 100vh;
    font-family: sans-serif;
    background-color: #f0f2f5;
}

.container {
    max-width: 50vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.field {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}

.field label {
    width: 120px;
    color: #555;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 36px;
    font-weight: bold;
}

.field span {
    flex: 1;
    padding: 8px;
    color: #333;
    line-height: 20px;
}

.addToCartButton {
    margin-top: 1rem;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #007BFF;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addToCartButton:hover {
    background-color: #0056b3;
}